html {
  width: 100%;
  /* overflow: hidden; */
}

body {
  width: 100%;
  background: #f5f5f5;
  overflow-x: hidden;
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}



div.bg_gradient {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: -moz-linear-gradient(270deg, #330867 0%, #06118f 100%);
  background: -webkit-linear-gradient(270deg, #330867 0%, #06118f 100%);
  background: linear-gradient(270deg, #330867 0%, #06118f 100%);
  background-size: 400% 400%;
  animation: AnimationName 10s infinite;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#330867', endColorstr='#06118f', GradientType=1);
  opacity: 0.8;
}

div.bg_gradient div.bg_graph {
  background: url("../images/common/bg_img_graph.png") center right no-repeat;
  width: 100%;
  height: 100%;
  margin-right: 10%;
  background-size: contain;

}

div.corona {
  position: absolute;
  top: 46vh;
  left: 55%;
  letter-spacing: 10px;
}

div.corona h3 {
  text-align: right;
  font-size: 30px;
  color: #e8ebed;
  font-weight: 100;
  margin-bottom: 8px;
}

div.corona h3 b {
  color: #c6122b
}

div.corona h4 {
  text-align: center;
  font-size: 24px;
  color: #e8ebed;
  font-weight: 100;
  margin-bottom: 29px;
  letter-spacing: 2px;
}

div.corona h4 b {}

div.corona a {
  display: inline-block;
  float: right;
  font-size: 16px;
  border: 3px solid #f8f8f8;
  border-radius: 40px;
  color: #f8f8f8;
  padding: 12px 35px;
}

div.corona a b {
  font-size: 18px;
}

div.corona a img.arrow {
  width: 20px;
  height: auto;
}




div.result {
  position: absolute;
  top: 37vh;
  left: 56%;
  letter-spacing: 2px;
}

div.result h3 {
  text-align: right;
  font-size: 30px;
  color: #e8ebed;
  font-weight: 100;
  margin-bottom: 8px;
}

div.result h3 b {
  color: #c6122b
}

div.result h4 {
  text-align: center;
  font-size: 24px;
  color: #e8ebed;
  font-weight: 100;
  margin-bottom: 29px;
  letter-spacing: 2px;
}

div.result h4 b {}

div.result a {
  display: inline-block;
  float: right;
  font-size: 18px;
  background:#20049F;
  border-radius: 40px;
  color: #f8f8f8;
  padding: 20px 35px;
  padding-left: 80px;
  box-shadow: 0 6px 6px 3px rgba(23, 7, 38, 0.1);
}

div.result a b {
  font-size: 18px;
}

div.result a img.arrow {
  width: 20px;
  height: auto;
  position: relative;
  top:3px;
}

div.result img.new{ position: absolute; top:-23px; left:-22px;}

div.result img.icon{ position: absolute; top:12px;  left:33px;}







.select {
  position: relative;
  display: inline-block;
  width: 40%;
  float: left;
  font-size: 18px;
  margin-left: 5%;
  margin-top: 6%;
}


.st06 select {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 15px 30px;
  outline: 0;
  border: 0;
  border-radius: 50px;
  background: #f8f8f8;

  color: #222;
  font-weight: bold;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select select::-ms-expand {
  display: none;
}

.select select:hover,
.select select:focus {
  color: #f8f8f8;
  background: #6326FF;
}

.select select.active {
  color: #f8f8f8;
  background: #6326FF;
}

.select select:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.select__arrow {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 18px;
  right: 20px;
  background: url("../images/common/select_arrow_B.png") center no-repeat;
  background-size: contain;
}

.select select:hover~.select__arrow,
.select select:focus~.select__arrow {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 20px;
  right: 20px;
  background-size: contain;

}
